/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  min-inline-size: 320px;
  max-inline-size:clamp(320px, 100%, 700px);
  min-block-size: 100dvb;
  font-family: var(--main-font);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.header {
  max-width: 100%;
  margin: 100px 0;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: clamp(120px, 19.5%, 136px) 0 25px;
}

.header__title-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header__title {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: clamp(2.875rem, 1.875rem + 4.9231vw, 4.0625rem);
  font-style: normal;
  font-weight: var(--main-weight);
  text-transform: uppercase;
  line-height: normal;
}

.header__subtitle {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-style: normal;
  font-weight: var(--main-weight);
  text-transform: uppercase;
  line-height: normal;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  display: flex;
  align-items: center;
}

.theme-menu__button {
  padding: 0;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-weight);
  text-transform: uppercase;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
  z-index: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  opacity: 0.6;
  z-index: -1;
  margin: 0 -20px;
  animation: arrow 0.5s infinite ease-in-out alternate-reverse;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  transition: 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: var(--accent-color);
  transition: 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 105px;
}

.content__card {
  background-color: var(--background-color);
  border: 2px solid  var(--accent-color);
}

.card__title {
  margin: 3px 10px;
  font-variation-settings: 'wght' var(--accent-weight);
  font-size: 18px;
}

.card__image {
  max-inline-size: 100%;
  aspect-ratio: 1/1;
  background-color: #d3d3d3;
  display: flex;
  justify-content: end;
  position: relative;
}

.image {
  inline-size: 100%;
  object-fit:cover;
  object-position: center;
}

.filter-brightness {
  filter: brightness(1.2);
}

.filter-blur {
  filter: blur(0.5px) contrast(0.9) saturate(1.3);
}

.filter-invert {
  filter: invert(0.1);
}

.filter-hue {
  filter: hue-rotate(20deg);
}

.filter-contrast {
  filter: contrast(0.85);
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-saturation {
  filter: saturate(1.5);
}

.filter-sepia {
  filter: sepia(0.1);
}

.image-label {
  position: absolute;
  margin: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color);

}

@supports (text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color)) {
  .image-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: end;
}

.description-text {
  display: flex;
  flex-direction: column;
  gap: 27px;

}

.paragraph {
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-weight);
  font-style: normal;
  line-height: 21px;
}

/* группа like */

.card__buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* icon-button */

.card__icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 5px;
  transition: 0.3s ease;
}

/* hover like-icon */

.card__icon-button .core {
  fill: var(--background-color);
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s;
}

.card__icon-button .main-body {
  fill: var(--background-color);
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s;
}

/* active like-icon */

.card__icon-button:active .core {
  fill: var(--accent-fill);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--accent-fill);
  transition: fill 0.3s 0.05s;
}

/* like-icon */

.like-icon {
  color: var(--accent-color);
}

.sparks {
  opacity: 0;
}

.contour {
  fill: currentColor;
  transition: fill 0.1s linear;
}

/* like-icon is liked */

.like-icon.is-liked .core {
  fill: var(--accent-fill);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--accent-fill);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--accent-fill);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-breathe 0.3s 0.1s ease-in alternate-reverse;
}

.like-icon.is-liked .sparks {
  animation: sparks-glow 0.3s 0.3s ease-in alternate-reverse;
}

/* like-button */

.card__like-button {
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before {
  transform: translateX(0%);
}

/* button-text */

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-weight);
  font-style: normal;
  z-index: 2;
  color: var(--button-text-color);
  mix-blend-mode: difference;

  /* Строки ниже решают проблему утолщения шрифта
  после применения difference */
  background: var(--button-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* save-button */

.content__save-button {
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.save-button-size {
  width: 335px;
  height: 51px;
}

.content__save-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: 0.3s ease;
}

.content__save-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.content__save-button:hover::before {
  transform: translateX(0%);
}

.save-icon {
  color: var(--button-text-color);
  mix-blend-mode: difference;
  z-index: 2;
}

.save-button-icon {
  width: 21px;
  height: 21px;
}

/* dialog */

.save-button_dialog {
  max-width: 353px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 30px;
}

.save-button_dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog-window {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-window_info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-icon {
  max-width: 39px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-weight);
  color: var(--accent-color);
  line-height: 150%;
  text-transform: uppercase;
}

.close-button-size {
  min-width: 100%;
  height: 38px;
}


/* media */

@media screen and (width <= 375px) {
  
  .content__save-button {
    flex-direction: column;
  }
  
  .save-button-size {
    width: 306px;
    height: 84px;
  }

  .save-button_dialog {
    margin: auto 15px;
    padding: 30px 42px;
  }
}